In [2]:
import pandas as pd
import numpy as np
import os
print(os.getcwd()) #当前工作目录

e:\实验1

In [4]:
my_data=pd.read_csv("titanic.csv") # stroke 文件必须先拷贝到当前工作目录中
# 求取不同方舱内的平均值
print(my_data.groupby('Pclass').mean())
# 求取不同方舱内的平均值和标准差
print(my_data.groupby('Pclass').agg(['mean', 'std']))

        PassengerId  Survived        Age     SibSp     Parch       Fare
Pclass
1        461.597222  0.629630  38.233441  0.416667  0.356481  84.154687
2        445.956522  0.472826  29.877630  0.402174  0.380435  20.662183
3        439.154786  0.242363  25.140620  0.615071  0.393075  13.675550
       PassengerId              Survived                  Age             \
              mean         std      mean       std       mean        std
Pclass
1       461.597222  246.737616  0.629630  0.484026  38.233441  14.802856
2       445.956522  250.852161  0.472826  0.500623  29.877630  14.001077
3       439.154786  264.441453  0.242363  0.428949  25.140620  12.495398

           SibSp               Parch                 Fare
            mean       std      mean       std       mean        std
Pclass
1       0.416667  0.611898  0.356481  0.693997  84.154687  78.380373
2       0.402174  0.601633  0.380435  0.690963  20.662183  13.417399
3       0.615071  1.374883  0.393075  0.888861  13.675550  11.778142

C:\Users\24506\AppData\Local\Temp\ipykernel_47368\2852817627.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  print(my_data.groupby('Pclass').mean())
C:\Users\24506\AppData\Local\Temp\ipykernel_47368\2852817627.py:5: FutureWarning: ['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  print(my_data.groupby('Pclass').agg(['mean', 'std']))